*{
    margin: 0;
    padding: 0;
    background-image: url('assets/981bc7fde951607b1264f6af9c5c13eb.jpg');
    box-sizing: border-box;
}
#canvas1{
    border: 5px solid black;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.8);

}
#player, #layer1, #layer2, #layer3, #layer4,
 #layer5, #enemy_fly, #enemy_plant, #enemy_spider_big,
 #fire,#collisionAnimation{
    display: none;
    
}